.flex-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    height: fit-content;
    /* width: fit-content; */
}

.item{
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
}

.info-main{
    align-self: flex-start;
}

.info-additional{
    align-self: flex-start;
}

.picture{
    height: 40vh;
}

.stars{
    height: 3vh;
}

.stars:hover{
    background: rgb(255, 174, 0);
}

.starChecked{
    background: gold;
}